/* Reset and basic styling */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 100vh;
}

/* Wrapper for the entire content */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content container */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* Title styling */
.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align the title text */
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  width: 250px;
}

.submit {
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 2px;
  border: 2px solid white;
  padding: 8px 24px;
  font-size: 25px;
  max-width: max-content;
  transition: all 0.3s ease;
  text-align: center;
}

.form-content > h1 {
  font-size: 35px;
}

.submit:hover {
  background-color: white;
  color: black;
  cursor: pointer; /* Change cursor on hover for better UX */
  transform: scale(1.2); /* Slightly increase size on hover */
}

#nameForm > input {
  font-size: 50px;
  border: 2px solid black;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  border: solid 2px rgb(0, 0, 0);
  padding: 1px 15px;
  margin: 25px;
  width: 500px;
  text-align: center;
}

#nameForm > input:focus {
  outline: none;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 0 0 8px 3px rgb(136, 136, 136);
  transition: all ease 0.2s;
}


/* Round information */
.round {
  font-size: 26px;
  padding-top: 15px;
  margin-bottom: 2px;
}

/* Styling for round end messages */
.roundEnd {
  font-size: 20px;
}

/* Styling for both computer and player choices */
.comp, .player {
  background-color: black;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
}

/* Styling for score display */
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin: 0 10px;
}

/* Styling for choice buttons and container */
.choice, .selection {
  display: flex;
  justify-content: center;
  text-align: center;
}

.choice > div, .selection > button {
  margin: 20px 40px;
}

/* Styling for choice buttons */
.selection > button {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.selection > button:hover {
  background-color: black;
  border-color: white;
  cursor: pointer; /* Change cursor on hover for better UX */
  transform: scale(1.2); /* Slightly increase size on hover */
}

/* Styling for choice button images */
.selection > button > img {
  width: 100px;
}

/* Styling for game result display */
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.result > button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 8px 24px;
  font-size: 18px;
  color: black;
  max-width: max-content;
  transition: all 0.3s ease;
}

.result > button:hover {
  background-color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  transform: scale(1.2);
}

/* Styling for restart link */
.restartLink:hover {
  color: white;
}

/* Styling for game counters */
.counters {
  font-weight: 600;
  margin-bottom: 20px;
}

/* Styling for the footer */
.footer {
  color: #f9faf8;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styling for small screens */
@media (max-width: 500px) {
  .comp, .player {
    width: 80px;
  }
  .score {
    text-align: center;
    padding: 10px;
  }
  body {
    text-align: center;
  }
  .title {
    font-size: 25px;
    padding: 10px;
  }
  .selection {
    flex-wrap: wrap;
  }
  .selection > button {
    padding: 5px;
  }
  .selection > button > img {
    width: 90px;
  }
}