/* Reset and basic styling */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 100vh;
}

/* Wrapper for the entire content */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content container */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Title styling */
.title {
  font-size: 30px;
  text-align: center; /* Center align the title text */
  margin-bottom: 20px; /* Slightly increased spacing from elements below */
}

/* Round information */
.round {
  font-size: 26px;
  padding-top: 15px;
  margin-bottom: 2px;
}

/* Styling for round end messages */
.roundEnd {
  font-size: 20px;
}

/* Styling for both computer and player choices */
.comp, .player {
  background-color: black;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
}

/* Responsive styling for small screens */
@media (max-width: 500px) {
  img {
    width: 80px;
  }
  .score {
    text-align: center;
    padding: 10px;
  }
  body {
    text-align: center;
  }
  .title {
    font-size: 25px;
    padding: 10px;
  }
}

/* Styling for score display */
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin: 0 10px;
}

/* Styling for choice buttons and container */
.choice, .selection {
  display: flex;
  justify-content: center;
  text-align: center;
}

.choice > div, .selection > button {
  margin: 20px 40px;
}

/* Styling for choice buttons */
.selection > button {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
}

.selection > button:hover {
  background-color: black;
  border-color: white;
  cursor: pointer; /* Change cursor on hover for better UX */
  transform: scale(1.2); /* Slightly increase size on hover */
}

/* Styling for choice button images */
.selection > button > img {
  width: 100px;
}

/* Styling for game result display */
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.result > button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 8px 24px;
  font-size: 18px;
  color: black;
  max-width: max-content;
}

.result > button:hover {
  background-color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
}

/* Styling for restart link */
.restartLink:hover {
  color: white;
}

/* Styling for game counters */
.counters {
  font-weight: 600;
  margin-bottom: 20px;
}

/* Styling for the footer */
.footer {
  color: #f9faf8;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
